

code, pre {
  margin-bottom: 30px;
//  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

pre.highlight, pre.highlight code, pre.highlight code span {
  background-color: #f2f2f2;
  color: #555;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: auto;
  color: #f2f2f2;
  text-shadow: none;
//  background: #303030;
}
pre code {
  padding: 0;
  color: #f2f2f2;
//  background-color: #303030;
  border: none;
}
.highlight .p, .highlight .pi {
  color: #555;
}
.highlight .o, .highlight .ow {
  color: #955;
}
