.inner {
  max-width: 1600px;
  width: 80%;
  min-width: 320px;
  
  li {
    list-style-position: inside;
  }
  a, a:link, a:visited, a:active {
    color: #16aeb9;
  }
  table {
    th {
      text-align: center;
      padding: 3
    }
    td {
      padding: 3
    }
  }
}
h1 {
  font-family: 'Ubuntu', sans-serif;
}
