
footer {
  background-position: center 0;  
  
  div.footer {    
    max-width: 1600px;
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
  }
}

footer .footer {
  
  ul, li {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
  }
  
  .col-md-4 li:first-child {
    height: 35px;
  }

}
