.inner > section {
  transition: margin .5s;
}
.inner #navigation {

  position: absolute;
  //width: 350px;
  width: 25%;
  left: -25%;
  //top: 0;
  background: #273A49;
  color: #eee;
  transition: left .5s, top .5s;
  z-index: 1;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  text-shadow: none;

  a, a:active, a:visited {
    color: #eee;
    font-size: .85em;
  }

  a.in-viewport {
    color: #aaa;
    font-style: italic;
  }

  li {
    list-style: none;
  }


  ol {
    margin-top: 5px;
    margin-bottom: 0;
    counter-reset: item;
    padding-left: 15px;

    li.header1 {
      counter-increment: none;

      &:before {
        content: '';
      }

      li {
        list-style: none;
        padding-left: 0;

        &:before {
          content: counters(item, ".") " ";
          counter-increment: item
        }

      }
    }
  }



  #navHandle {
    top: 10px;
    right: -30px;
    color: #fff;
    background: #273A49;
    display: block;
    position: absolute;
    width: 35px;
    text-align: right;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
  }

}

.menu-open {

  #navigation {

    left: 0;

  }

  .inner > section {
    margin-left: 27%;
  }

  #main_content {
    width: 70%;
  }

}

.scroll .inner #navigation {
  position: fixed;
  top: 0;

  #navWrapper {
    height: 100%;
    overflow-x: hidden;
    & > div {
      height: 100%;
      overflow-y: scroll;
      width: 100%;
      padding-right: 20px;
      box-sizing: content-box;
    }
  }

}
