<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <div>
            <a href="https://plenigo.github.io">
              <img src="/assets/images/plenigo Logo RZ.png" id="logo"/>
            </a>
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          </div>
        </header>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <div class="footer">
            <div class="row">
                <div class="col-xs-7 row">
                    <div class="col-md-4">
                        <ul>
                            <li><h3>Erfahren Sie mehr.</h3></li>
                            <li><a href="https://www.plenigo.com/de/ueberplenigo">Über plenigo</a></li>
                            <li><a href="https://www.plenigo.com/de/marketing/presse">Presse</a></li>
                            <li><a href="https://blog.plenigo.com/" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li></li>
                            <li><a href="https://www.plenigo.com/de/impressum">Impressum</a></li>
                            <li><a href="https://www.plenigo.com/de/datenschutz">Datenschutz</a></li>
                            <li><a href="https://www.plenigo.com/de/agb">AGB</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li></li>
                            <li><a href="https://www.plenigo.com/de/marketing/kontakt">Kontakt</a></li>
                            <li><a href="https://www.plenigo.com/de/karriere">Karriere</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-5 row">
                    <div class="col-md-6">
                        <ul>
                            <li><h3>Sprechen Sie uns an.</h3></li>
                            <li><a href="#">+49 (0) 831 540 982 34</a></li>
                            <li><a href="mailto:info@plenigo.com">info@plenigo.com</a></li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <a href="#" id="enp-footer-logo"></a>
                    </div>
                </div>
            </div>
            <div class="enp-soc-icn">
                <div><a href="https://www.facebook.com/plenigo" target="_blank" class="fa fa-facebook-square"></a></div>
                <div><a href="https://twitter.com/plenigo" target="_blank" class="fa fa-twitter"></a></div>
                <div><a href="https://www.xing.com/companies/plenigogmbh" target="_blank" class="fa fa-xing"></a></div>
                <div><a href="https://www.linkedin.com/company/plenigo-gmbh" target="_blank" class="fa fa-linkedin-square"></a></div>
                <div><a href="https://plus.google.com/101043920012522748461" target="_blank" class="fa fa-google-plus"></a></div>
            </div>
        </div>
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
